
input{
	height: 100px;
	width: 100px;

}
label{
 	font-size: 40px;
}

body, html{

}
body{
	background-image: url('fundo.jpg'); 
} 
h2{
	margin-top: 15px;
}

.cabecalho1{
	margin-right:  30px;
	color: white;
}
.cabecalho2{
	margin-right: 30px;
	color: white;
}
.cabecalho3{
	margin-top: 20px;
	color: white;
}

.saidaText{
	margin-top: 15px;
	color: white;
	margin-right: 30px;
}
#teste{
		height: 100px;
	width: 100px;
}

#vs{
	margin-left: 30px;
	color: white;
}
#teste2{
		height: 100px;
	width: 100px;
}
tr, td{
		margin-top: 10%; 
		margin-left: 10%;
} 

#apresenta{
	margin-top: 5%;
}

button{
	height: 50px;
	width: 150px;
	margin-left: 45%;
	margin-top: 5%; 
	border-color: green;
}


